{% extends 'base.html.twig' %}

{% block title %}{{ tractor.brand }}{% endblock %}

{% block body %}
    <h1>{{ tractor.brand }}</h1>
    <h3>{{ tractor.model }}</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Immatriculation</th>
                <td>{{ tractor.licensePlate }}</td>
            </tr>
            <tr>
                <th>Date de mise en circulation</th>
                <td>{{ tractor.purchaseDate }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ tractor.year }}</td>
            </tr>
            <tr>
                <th>Consommation d'essence</th>
                <td>{{ tractor.consumptionFuel }}/L au 100km</td>
            </tr>
            <tr>
                <th>Puissance</th>
                <td>{{ tractor.power }}chevaux</td>
            </tr>
            <tr>
                <th>Constructeur</th>
                <td>{{ tractor.brand }}</td>
            </tr>
            <tr>
                <th>Modéle</th>
                <td>{{ tractor.model }}</td>
            </tr>
            <tr>
                <th>Valeur d'achat</th>
                <td>{{ tractor.value }}</td>
            </tr>
            <tr>
                <th>Coefficient moteur </th>
                <td>{{ tractor.motorLoadCoefficient }} %</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tractor_index') }}">Retour</a>

    <a href="{{ path('tractor_edit', {'id': tractor.id}) }}">Modifier le tracteur</a>

    {{ include('tractor/_delete_form.html.twig') }}
{% endblock %}
