{% extends 'base.html.twig' %}

{% block title %}Tractor{% endblock %}

{% block body %}
    <h1>Tractor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tractor.id }}</td>
            </tr>
            <tr>
                <th>LicensePlate</th>
                <td>{{ tractor.licensePlate }}</td>
            </tr>
            <tr>
                <th>PurchaseDate</th>
                <td>{{ tractor.purchaseDate }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ tractor.year }}</td>
            </tr>
            <tr>
                <th>ConsumptionFuel</th>
                <td>{{ tractor.consumptionFuel }}</td>
            </tr>
            <tr>
                <th>Power</th>
                <td>{{ tractor.power }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ tractor.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ tractor.model }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ tractor.value }}</td>
            </tr>
            <tr>
                <th>MotorLoadCoefficient</th>
                <td>{{ tractor.motorLoadCoefficient }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tractor_index') }}">back to list</a>

    <a href="{{ path('tractor_edit', {'id': tractor.id}) }}">edit</a>

    {{ include('tractor/_delete_form.html.twig') }}
{% endblock %}
